---
layout: documentation.hbs

title: <%- pkg.title %>
description: <%- pkg.description %>
logo : <%- pkg.logo %>
---


<header>
  <div class="title">
    {{#if logo}}<img alt="" src="{{logo}}">{{/if}}
    <h1>{{title}}</h1>
  </div>
  {{#if description}}<p>{{description}}</p>{{/if}}
  <p>Accéder à la <a href="/docs">documentation</a></p>
</header>

<section>
  <h2>Liste des pages</h2>

  <div class="table">
  <table>
    <thead>
      <tr>
        <th scope="col" rowspan="2">Page</th>
        {{#if INDEX.HTML}}
          <th scope="col" rowspan="2">
            {{#if INDEX.HTML.url}}<a href="{{INDEX.HTML.url}}">{{/if}}{{INDEX.HTML.label}}{{#if INDEX.HTML.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.CSS}}
          <th scope="col" rowspan="2">
            {{#if INDEX.CSS.url}}<a href="{{INDEX.CSS.url}}">{{/if}}{{INDEX.CSS.label}}{{#if INDEX.CSS.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.JS}}
          <th scope="col" rowspan="2">
            {{#if INDEX.JS.url}}<a href="{{INDEX.JS.url}}">{{/if}}{{INDEX.JS.label}}{{#if INDEX.JS.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.GROUP1.length}}
        <th scope="col" colspan="{{INDEX.GROUP1.length}}">
          {{#if INDEX.GROUP1.url}}<a href="{{INDEX.GROUP1.url}}">{{/if}}{{INDEX.GROUP1.label}}{{#if INDEX.GROUP1.url}}</a>{{/if}}
        </th>
        {{/if}}
        {{#if INDEX.GROUP2.length}}
        <th scope="col" colspan="{{INDEX.GROUP2.length}}">
          {{#if INDEX.GROUP2.url}}<a href="{{INDEX.GROUP2.url}}">{{/if}}{{INDEX.GROUP2.label}}{{#if INDEX.GROUP2.url}}</a>{{/if}}
        </th>
        {{/if}}
        {{#if INDEX.GROUP3.length}}
        <th scope="col" colspan="{{INDEX.GROUP3.length}}">
          {{#if INDEX.GROUP3.url}}<a href="{{INDEX.GROUP3.url}}">{{/if}}{{INDEX.GROUP3.label}}{{#if INDEX.GROUP3.url}}</a>{{/if}}
        </th>
        {{/if}}
        {{#if INDEX.NOTES}}
        <th scope="col" rowspan="2">
          {{#if INDEX.NOTES.url}}<a href="{{INDEX.NOTES.url}}">{{/if}}{{INDEX.NOTES.label}}{{#if INDEX.NOTES.url}}</a>{{/if}}
        </th>
        {{/if}}
      </tr>
      <tr>
        {{#if INDEX.L1}}
          <th scope="col" rowspan="2">
            {{#if INDEX.L1.url}}<a href="{{INDEX.L1.url}}">{{/if}}{{INDEX.L1.label}}{{#if INDEX.L1.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.L2}}
          <th scope="col" rowspan="2">
            {{#if INDEX.L2.url}}<a href="{{INDEX.L2.url}}">{{/if}}{{INDEX.L2.label}}{{#if INDEX.L2.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.L3}}
          <th scope="col" rowspan="2">
            {{#if INDEX.L3.url}}<a href="{{INDEX.L3.url}}">{{/if}}{{INDEX.L3.label}}{{#if INDEX.L3.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.L4}}
          <th scope="col" rowspan="2">
            {{#if INDEX.L4.url}}<a href="{{INDEX.L4.url}}">{{/if}}{{INDEX.L4.label}}{{#if INDEX.L4.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.L5}}
          <th scope="col" rowspan="2">
            {{#if INDEX.L5.url}}<a href="{{INDEX.L5.url}}">{{/if}}{{INDEX.L5.label}}{{#if INDEX.L5.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.M1}}
          <th scope="col" rowspan="2">
            {{#if INDEX.M1.url}}<a href="{{INDEX.M1.url}}">{{/if}}{{INDEX.M1.label}}{{#if INDEX.M1.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.M2}}
          <th scope="col" rowspan="2">
            {{#if INDEX.M2.url}}<a href="{{INDEX.M2.url}}">{{/if}}{{INDEX.M2.label}}{{#if INDEX.M2.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.M3}}
          <th scope="col" rowspan="2">
            {{#if INDEX.M3.url}}<a href="{{INDEX.M3.url}}">{{/if}}{{INDEX.M3.label}}{{#if INDEX.M3.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.M4}}
          <th scope="col" rowspan="2">
            {{#if INDEX.M4.url}}<a href="{{INDEX.M4.url}}">{{/if}}{{INDEX.M4.label}}{{#if INDEX.M4.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.M5}}
          <th scope="col" rowspan="2">
            {{#if INDEX.M5.url}}<a href="{{INDEX.M5.url}}">{{/if}}{{INDEX.M5.label}}{{#if INDEX.M5.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.S1}}
          <th scope="col" rowspan="2">
            {{#if INDEX.S1.url}}<a href="{{INDEX.S1.url}}">{{/if}}{{INDEX.S1.label}}{{#if INDEX.S1.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.S2}}
          <th scope="col" rowspan="2">
            {{#if INDEX.S2.url}}<a href="{{INDEX.S2.url}}">{{/if}}{{INDEX.S2.label}}{{#if INDEX.S2.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.S3}}
          <th scope="col" rowspan="2">
            {{#if INDEX.S3.url}}<a href="{{INDEX.S3.url}}">{{/if}}{{INDEX.S3.label}}{{#if INDEX.S3.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.S4}}
          <th scope="col" rowspan="2">
            {{#if INDEX.S4.url}}<a href="{{INDEX.S4.url}}">{{/if}}{{INDEX.S4.label}}{{#if INDEX.S4.url}}</a>{{/if}}
          </th>
        {{/if}}
        {{#if INDEX.S5}}
          <th scope="col" rowspan="2">
            {{#if INDEX.S5.url}}<a href="{{INDEX.S5.url}}">{{/if}}{{INDEX.S5.label}}{{#if INDEX.S5.url}}</a>{{/if}}
          </th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
    {{#compose src="pages/**/*.hbs"}}
      <tr>
        <td><a href="pages/{{@basename}}.html">{{@title}}</a><br><small>{{@description}}</small></td>
        {{#if INDEX.HTML}}<td>{{@META.HTML}}</td>{{/if}}
        {{#if INDEX.CSS}}<td>{{@META.CSS}}</td>{{/if}}
        {{#if INDEX.JS}}<td>{{@META.JS}}</td>{{/if}}
        {{#if INDEX.L1}}<td>{{@META.L1}}</td>{{/if}}
        {{#if INDEX.L2}}<td>{{@META.L2}}</td>{{/if}}
        {{#if INDEX.L3}}<td>{{@META.L3}}</td>{{/if}}
        {{#if INDEX.L4}}<td>{{@META.L4}}</td>{{/if}}
        {{#if INDEX.L5}}<td>{{@META.L5}}</td>{{/if}}
        {{#if INDEX.M1}}<td>{{@META.M1}}</td>{{/if}}
        {{#if INDEX.M2}}<td>{{@META.M2}}</td>{{/if}}
        {{#if INDEX.M3}}<td>{{@META.M3}}</td>{{/if}}
        {{#if INDEX.M4}}<td>{{@META.M4}}</td>{{/if}}
        {{#if INDEX.M5}}<td>{{@META.M5}}</td>{{/if}}
        {{#if INDEX.S1}}<td>{{@META.S1}}</td>{{/if}}
        {{#if INDEX.S2}}<td>{{@META.S2}}</td>{{/if}}
        {{#if INDEX.S3}}<td>{{@META.S3}}</td>{{/if}}
        {{#if INDEX.S4}}<td>{{@META.S4}}</td>{{/if}}
        {{#if INDEX.S5}}<td>{{@META.S5}}</td>{{/if}}
        {{#if INDEX.NOTES}}<td>{{@META.NOTES}}</td>{{/if}}
      </tr>
    {{/compose}}
    </tbody>
  </table>
  </div>
</section>
