<!DOCTYPE html>
<html lang="fr" class="ca__">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />

    <!-- STYLES -->
    <link rel="stylesheet" href="{{assets}}css/doc.css">
  </head>
  <body class="ca__">
    {{#if title}}
    <h1 class="ca__header">
      {{#if logo}}<img alt="" src="{{logo}}" class="ca__header__logo">{{/if}}
      <a class="ca__header__link" href="{{assets}}/">{{title}}</a>
    </h1>
    {{/if}}

    <div class="ca__page">
      <main class="ca__main">
      {{#markdown}}
        {{> body }}
      {{/markdown}}
      </main>
    </div>
  </body>
</html>
