<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />

    <!-- STYLES -->
    <link rel="stylesheet" href="{{assets}}css/styles.css">

    <!-- SCRIPTS -->
    <!-- build:js {{assets}}js/scripts.min.js -->
    <script src="{{assets}}js/lib/jquery.js"></script>
      <!--
        Mettez tout vos scripts ici dans l'ordre
        dans lequel ils doivent être chargés.
        Ils seront automatiquement concaténé et
        minifié pour la production
      -->

    <!-- endbuild -->

    {{#if ENV.dev}}
      <!--
        Mettez tout vos scripts et feuilles de style
        uniquement utile pour le developpement comme
        par exemple #grid
      -->
    {{/if}}
  </head>
  <body>
    {{> body }}
  </body>
</html>
