<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  <title>API JavaScript</title>

  <!-- SCRIPT -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- STYLES -->
  <link rel="stylesheet" href="../../css/doc.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/github-gist.min.css">
</head>
<body class="ca">
  <header class="ca__header">
    <div class="ca__pageWrapper">
      <h1 class="ca__headerLogo">JavaScript APIs</h1>

      <ul class="ca__headerNav">
        <li class="ca__headerNavItem"><a class="ca__headerNavLink" href="../..">Liste des pages</a></li>
        <li class="ca__headerNavItem"><a class="ca__headerNavLink" href="../../doc">Documentation</a></li>
        <li class="ca__headerNavItem"><a class="ca__headerNavLink" href="../../doc/styleguide">Guide des styles</a></li>
      </ul>
    </div>
  </header>

  <div class="ca__pageWrapper">
    <nav class="ca__sidebar">
      <ul class="ca__sidebarMenu">
        <li class="ca__sidebarMenuItem">
          <a class="ca__sidebarLink" href="../../doc">
            <span class="ca__sidebarRef">::</span>
            Documentation
          </a>
        </li>
      </ul>

      {% if toc %}
        <ul class="ca__sidebarMenu">
          {% for item in toc %}
            {% set levelOneIndex = loop.index %}
            <li class="ca__sidebarMenuItem">
              {% if item.url %}
                <a class="ca__sidebarLink" href="{{ item.url }}">
                  <span class="ca__sidebarRef">{{ levelOneIndex }}</span>&nbsp;/ {{item.name}}
                </a>
              {% else %}
                <span class="ca__sidebarRef">{{ levelOneIndex }}</span>&nbsp;/ {{item.name}}
              {% endif %}
              {% if item.children %}
                <ul class="ca__sidebarMenu">
                  {% for children in item.children %}
                    {% set levelTwoIndex = loop.index %}
                    <li class="ca__sidebarMenuItem">
                      {% if children.url %}
                        <a class="ca__sidebarLink" href="{{ children.url }}">
                          <span class="ca__sidebarRef">{{ levelOneIndex }}.{{ levelTwoIndex }}</span>&nbsp;/ {{children.name}}
                        </a>
                      {% else %}
                        <span class="ca__sidebarRef">{{ levelOneIndex }}.{{ levelTwoIndex }}</span>&nbsp;/ {{children.name}}
                      {% endif %}
                      {% if children.children %}
                        <ul class="ca__sidebarMenu">
                          {% for subchildren in children.children %}
                            {% set levelThreeIndex = loop.index %}
                            <li class="ca__sidebarMenuItem">
                              <a class="ca__sidebarLink" href="{{ subchildren.url }}">
                                <span class="ca__sidebarRef">{{ levelOneIndex }}.{{ levelTwoIndex }}.{{levelThreeIndex}}</span>&nbsp;/ {{ subchildren.name }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <ul class="ca__sidebarMenu">
        <li class="ca__sidebarMenuItem">
          <a class="ca__sidebarLink" href="../../doc/js">
            <span class="ca__sidebarRef">::</span>
            API JavaScripts
          </a>
        </li>
        <li class="ca__sidebarMenuItem">
          <a class="ca__sidebarLink" href="../../doc/styleguide">
            <span class="ca__sidebarRef">::</span>
            Guide des styles
          </a>
        </li>
      </ul>
    </nav>

    <main class="ca__content ca__md">
      {% for item in data %}
      <section>
        {% if item.ctx %}
          <h1>{{ item.ctx.string }}</h1>

          {% if item.description %}{{ item.description.summary|raw }}{% endif %}

          {% if item.tags %}
          <div class="ca__tableWrapper">
            <table class="ca__table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Name</th>
                  <th scope="col">Type</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                {% for tag in item.tags %}
                <tr>
                  <td><em>@{{ tag.type }}</em></td>
                  <td>{{ tag.name }}{% if tag.optional %}<sup title="Ce paramètre est optionel">*</sup>{% endif %}</td>
                  <td>{{ tag.typesDescription|raw }}</td>
                  <td>{{ tag.description|raw }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}

          {% if item.description %}{{ item.description.body|raw }}{% endif %}
        {% endif %}

        <h2>Source</h2>
        <pre><code class="javascript">{{ code }}</code></pre>
      </section>
      {% endfor %}
    </main>
  </div>
</body>
</html>
